@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-12">
        <div class="p-5 bg-light rounded-3">
            <h1 class="display-5 fw-bold text-primary">about</h1>
            <p>
                We are a dynamic group of students driven by a shared passion for technology and innovation. In this project, we have pooled our diverse talents and expertise to develop a groundbreaking application that showcases our commitment to pushing the boundaries of what's possible in the digital realm.
            </p><p>
                Our application harnesses the power of Amazon Web Services (AWS), leveraging services such as AWS S3 Bucket, AWS Lambda Function, and Amazon Rekognition. This powerful combination allows us to analyze images with unparalleled accuracy and efficiency.
            </p><p>
                Upon receiving an image, our application initiates a series of automated processes. The image is uploaded to an AWS S3 Bucket, triggering an AWS Lambda Function to analyze the faces detected within the image using Amazon Rekognition. The output is a detailed JSON file outlining facial features and characteristics.
            </p><p>
                But we didn't stop there. We wanted to add a personal touch to our project. That's why we integrated ChatGPT, an advanced natural language processing model, to dynamically generate a news article about the individual depicted in the image. This adds a unique and engaging element to the user experience.
            </p><p>
                As MIS students, we understand the importance of learning and growth. This project has been an invaluable learning experience for each member of our team, allowing us to expand our knowledge and skills in areas such as cloud computing, artificial intelligence, and natural language processing.
            </p>
            <div class="row mt-5">
                <div class="col-md-12">
                    <h3>Group 4 Members</h3>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img src="https://is215-g4-s3-bucket.s3.amazonaws.com/profile_photo_thumbnail.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Alvin Llobrera</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Affiliation here</h6>
                            <p class="card-text">
                                Once you've uploaded your photo, our system will analyze it using advanced algorithms to identify objects, scenes, and other elements within the image.
                            </p>
                            <a href="#" title="Facebook"><span class="fa-brands fa-facebook"></span></a>
                            <a href="#" title="Instagram"><span class="fa-brands fa-instagram"></span></a>
                            <a href="#" title="TikTok"><span class="fa-brands fa-tiktok"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img src="https://is215-g4-s3-bucket.s3.amazonaws.com/profile_photo_thumbnail.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Christine Joy De Guzman</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Affiliation here</h6>
                            <p class="card-text">
                                After analysis, we'll generate a news-like article summarizing the content of your photo. This article will provide descriptions, insights, and interesting facts about the objects and scenes detected in your image.
                            </p>
                            <a href="#" title="Facebook"><span class="fa-brands fa-facebook"></span></a>
                            <a href="#" title="Instagram"><span class="fa-brands fa-instagram"></span></a>
                            <a href="#" title="TikTok"><span class="fa-brands fa-tiktok"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <img src="https://is215-g4-s3-bucket.s3.amazonaws.com/profile_photo_thumbnail.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Federick Joe Fajardo</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Affiliation here</h6>
                        <p class="card-text">
                            Start by uploading a photo of your choice using the provided upload form. The photo can be of anything - a landscape, a group of people, an object, or anything else you'd like to explore further.
                        </p>
                        <a href="#" title="Facebook"><span class="fa-brands fa-facebook"></span></a>
                        <a href="#" title="Instagram"><span class="fa-brands fa-instagram"></span></a>
                        <a href="#" title="TikTok"><span class="fa-brands fa-tiktok"></span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img src="https://is215-g4-s3-bucket.s3.amazonaws.com/profile_photo_thumbnail.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Leonard Bryan Sebuano</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Full Stack .NET Programmer</h6>
                            <p class="card-text">
                                You'll then be redirected to a page where you can explore the generated article and learn more about what's in your photo.
                            </p>
                            <a href="#" title="Facebook"><span class="fa-brands fa-facebook"></span></a>
                            <a href="#" title="Instagram"><span class="fa-brands fa-instagram"></span></a>
                            <a href="#" title="TikTok"><span class="fa-brands fa-tiktok"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img src="https://is215-g4-s3-bucket.s3.amazonaws.com/profile_photo_thumbnail.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Rhen Mark Callado</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Affiliation here</h6>
                            <p class="card-text">
                                You'll then be redirected to a page where you can explore the generated article and learn more about what's in your photo.
                            </p>
                            <a href="#" title="Facebook"><span class="fa-brands fa-facebook"></span></a>
                            <a href="#" title="Instagram"><span class="fa-brands fa-instagram"></span></a>
                            <a href="#" title="TikTok"><span class="fa-brands fa-tiktok"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img src="https://is215-g4-s3-bucket.s3.amazonaws.com/profile_photo_thumbnail.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Rommel Sual</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Affiliation here</h6>
                            <p class="card-text">
                                You'll then be redirected to a page where you can explore the generated article and learn more about what's in your photo.
                            </p>
                            <a href="#" title="Facebook"><span class="fa-brands fa-facebook"></span></a>
                            <a href="#" title="Instagram"><span class="fa-brands fa-instagram"></span></a>
                            <a href="#" title="TikTok"><span class="fa-brands fa-tiktok"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>