@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-12">
        <div class="p-5 bg-light rounded-3">
            <h1 class="display-5 fw-bold text-primary">about</h1>
            <p>
                We are a dynamic group of students driven by a shared passion for technology and innovation. In this project, we have pooled our diverse talents and expertise to develop a groundbreaking application that showcases our commitment to pushing the boundaries of what's possible in the digital realm.
            </p><p>
                Our application harnesses the power of Amazon Web Services (AWS), leveraging services such as AWS S3 Bucket, AWS Lambda Function, and Amazon Rekognition. This powerful combination allows us to analyze images with unparalleled accuracy and efficiency.
            </p><p>
                Upon receiving an image, our application initiates a series of automated processes. The image is uploaded to an AWS S3 Bucket, triggering an AWS Lambda Function to analyze the faces detected within the image using Amazon Rekognition. The output is a detailed JSON file outlining facial features and characteristics.
            </p><p>
                But we didn't stop there. We wanted to add a personal touch to our project. That's why we integrated ChatGPT, an advanced natural language processing model, to dynamically generate a news article about the individual depicted in the image. This adds a unique and engaging element to the user experience.
            </p><p>
                As MIS students, we understand the importance of learning and growth. This project has been an invaluable learning experience for each member of our team, allowing us to expand our knowledge and skills in areas such as cloud computing, artificial intelligence, and natural language processing.
            </p>
            <div class="row mt-5">
                <div class="col-md-12">
                    <h3>Group 4 Members</h3>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img src="https://is215-g4-bucket.s3.amazonaws.com/profile_photo_thumbnail.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Alvin Llobrera</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">UPOU-MIS</h6>
                            <p class="card-text">
                                <figure>
                                    <blockquote class="blockquote">
                                        <p>The development of full artificial intelligence could spell the end of the human race.</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        Stephen Hawking
                                    </figcaption>
                                </figure>
                            </p>
                            @*<a href="#" title="Facebook"><span class="fa-brands fa-facebook"></span></a>
                    <a href="#" title="Instagram"><span class="fa-brands fa-instagram"></span></a>
                    <a href="#" title="TikTok"><span class="fa-brands fa-tiktok"></span></a>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img src="https://is215-g4-bucket.s3.amazonaws.com/profile_photo_thumbnail.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Christine Joy De Guzman</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">UPOU-MIS</h6>
                            <p class="card-text">
                                <figure>
                                    <blockquote class="blockquote">
                                        <p>I visualize a time when we will be to robots what dogs are to humans. And I'm rooting for the machines.</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        Claude Shannon
                                    </figcaption>
                                </figure>
                            </p>
                            @*<a href="#" title="Facebook"><span class="fa-brands fa-facebook"></span></a>
                    <a href="#" title="Instagram"><span class="fa-brands fa-instagram"></span></a>
                    <a href="#" title="TikTok"><span class="fa-brands fa-tiktok"></span></a>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img src="https://is215-g4-bucket.s3.amazonaws.com/profile_photo_thumbnail.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Federick Joe Fajardo</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">UPOU-MIS</h6>
                            <p class="card-text">
                                <figure>
                                    <blockquote class="blockquote">
                                        <p>Whether you're a person or an AI, intelligence is defined by the ability to change your environment, after which your environment changes you. It's a two-way street.</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        Joi Ito
                                    </figcaption>
                                </figure>
                            </p>
                            @*<a href="#" title="Facebook"><span class="fa-brands fa-facebook"></span></a>
                    <a href="#" title="Instagram"><span class="fa-brands fa-instagram"></span></a>
                    <a href="#" title="TikTok"><span class="fa-brands fa-tiktok"></span></a>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img src="https://is215-g4-bucket.s3.amazonaws.com/profile_photo_thumbnail.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Leonard Bryan Sebuano</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">UPOU-MIS</h6>
                            <p class="card-text">
                                <figure>
                                    <blockquote class="blockquote">
                                        <p>The question of whether a computer can think is no more interesting than the question of whether a submarine can swim.</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        Edsger W. Dijkstra
                                    </figcaption>
                                </figure>
                            </p>
                            @*<a href="#" title="Facebook"><span class="fa-brands fa-facebook"></span></a>
        <a href="#" title="Instagram"><span class="fa-brands fa-instagram"></span></a>
        <a href="#" title="TikTok"><span class="fa-brands fa-tiktok"></span></a>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img src="https://is215-g4-bucket.s3.amazonaws.com/profile_photo_thumbnail.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Rhen Mark Callado</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">UPOU-MIS</h6>
                            <p class="card-text">
                                <figure>
                                    <blockquote class="blockquote">
                                        <p>We must address, individually and collectively, moral and ethical issues raised by cutting-edge research in artificial intelligence and biotechnology, which will enable significant life extension, designer babies, and memory extraction.</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        Klaus Schwab
                                    </figcaption>
                                </figure>
                            </p>
                            @*<a href="#" title="Facebook"><span class="fa-brands fa-facebook"></span></a>
        <a href="#" title="Instagram"><span class="fa-brands fa-instagram"></span></a>
        <a href="#" title="TikTok"><span class="fa-brands fa-tiktok"></span></a>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img src="https://is215-g4-bucket.s3.amazonaws.com/profile_photo_thumbnail.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Rommel Sual</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">UPOU-MIS</h6>
                            <p class="card-text">
                                <figure>
                                    <blockquote class="blockquote">
                                        <p>Artificial intelligence will reach human levels by around 2029. Follow that out further to, say, 2045, we will have multiplied the intelligence, the human biological machine intelligence of our civilization a billion-fold.</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        Ray Kurzweil
                                    </figcaption>
                                </figure>
                            </p>
                            @*<a href="#" title="Facebook"><span class="fa-brands fa-facebook"></span></a>
        <a href="#" title="Instagram"><span class="fa-brands fa-instagram"></span></a>
        <a href="#" title="TikTok"><span class="fa-brands fa-tiktok"></span></a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>