@model IS215G4FacialAnalysis.Models.AccessViewModel
@{
    ViewBag.Title = "Home";
}
@Html.Hidden("accessId", Model.AccessId)
@Html.Hidden("accessKey", Model.AccessKey)
@Html.Hidden("token", Model.Token)

<style>
    @@media only screen and (max-width: 768px) {
        #startButton {
            width: 100% !important;
        }
    }
</style>

<div class="row" id="jumbotron">
    <div class="col-md-12">
        <div class="p-5 bg-light rounded-3">
            <h1 class="display-5 fw-bold text-primary">fotoscope</h1>
            <p class="fs-4">
                Our web app offers a unique way to explore the content of your photos by generating news-like articles based on their contents.
            </p>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-3 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Upload Your Photo</h5>
                            <p class="card-text">
                                Start by uploading a photo of your choice using the provided upload form. The photo can be of anything - a landscape, a group of people, an object, or anything else you'd like to explore further.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Photo Analysis</h5>
                            <p class="card-text">
                                Once you've uploaded your photo, our system will analyze it using advanced algorithms to identify objects, scenes, and other elements within the image.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Generated Article</h5>
                            <p class="card-text">
                                After analysis, we'll generate a news-like article summarizing the content of your photo. This article will provide descriptions, insights, and interesting facts about the objects and scenes detected in your image.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Explore the Results</h5>
                            <p class="card-text">
                                You'll then be redirected to a page where you can explore the generated article and learn more about what's in your photo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-dark btn-lg mt-3" type="button" id="startButton" style="width:10rem;">Start</button>
        </div>
    </div>
</div>

<div class="row d-none" id="articleContainer">
    <div class="col-lg-12 col-xl-7 mt-3">
        <div class="row">
            <div class="col-8">
                <h6 class="text-muted" style="margin-bottom: -5px;">AI-Generated News Article</h6>
                <span class="text-muted smaller" id="articleDate" style="font-size: 0.8rem;"></span>
            </div>
            <div class="col-4">
                <a href="@Url.Action("index","g4")" class="btn text-end float-end"><span class="fa-solid fa-arrow-left-long"></span> Back</a>
            </div>
            <hr />
        </div>
    </div>
    <div class="col-lg-12 col-xl-6">
        <div id="article" class="clearfix"></div>
    </div>
</div>

<div class="modal" tabindex="-1" id="uploadModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Photo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <label for="imageFileUpload" class="form-label">Please select the photo you wish to use in creating a news article.</label>
                            <input class="form-control" type="file" id="imageFileUpload" accept=".png,.jpg,.jpeg,.bmp">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                <button class="btn btn-dark" id="UploadToS3"><span class="fa-solid fa-cloud-arrow-up"></span> Generate</button>
                <button class="btn btn-dark d-none" type="button" disabled id="pleaseWaitButton">
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    <span role="status">Please wait...</span>
                </button>
            </div>
        </div>
    </div>
</div>